h1
{
    padding-left: 50px;
}
h5
{
    padding-left: 60px;
    color: white;
}
.buy-now-button
{
    background-color: aqua;
    margin-left: 50px;
    margin-top: 30px;
    
}
.row
{
    background-color: tomato;
}

#lamp
{
      
        color:orange;
        padding: 40px;
        margin-top: 250px;
        text-align: center;
      
}
#headphone
{
        color:green;
        padding: 40px;
        margin-top: 250px;
        text-align: center;
}
#a
{   float: left;
    width:33%;
    height: 280px;
}
#b
{
    float: left;
    width:33%;
    height: 280px;
}
#c
{   float: left;
    width:33%;
    height: 280px;
}